html {
  margin: 0px;
  height: 850px;
  background-color: white;
  padding-top: 50px;
  padding-bottom: 500px;
  background-attachment: static;
  scroll-behavior: smooth;
}

form {
  display: flex;
  flex-direction: column;
}

.login-container {
  position: absolute;
  top: 25%;
  left: 40%;
  background: white;
  border-radius: 4px;
  padding: 30px;
  color: #254d67;
  height: 225px;
  display: none;
  z-index: 5;
}

#new-user {
  position: absolute;
  font-size: 10px;
  bottom: 5px;
}

#new-user:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: #254d67;
}

.login-submit-button {
  color: #254d67;
  background-color: white;
  margin-top: 15px;
  margin-left: 48px;
  height: 22px;
  width: 100px;
  border-radius: 10px;
  border: solid 1px #254d67;
  letter-spacing: 1px;
  transition: 0.15s ease;
}

.login-submit-button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.login-submit-button:active {
  opacity: 0.6;
}

.login-heading {
  text-align: center;
  margin-top: 0;
}

.signup-container {
  position: absolute;
  left: 40%;
  top: 25%;
  padding: 30px;
  border-radius: 4px;
  background: white;
  color: #254d67;
  filter: drop-shadow(1px 1px 2px #254d67);
  display: none;
  z-index: 5;
}

#old-user {
  position: absolute;
  font-size: 10px;
  bottom: 5px;
  text-align: center;
}

#old-user:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: #254d67;
}

input {
  margin: 5px 0px 5px;
  border: solid 1px #254d67;
  border-radius: 5px;
  padding-left: 2px;
  font-size: 12px;
}

input::placeholder {
  color: #256760;
}

label {
  font-size: 12px;
  letter-spacing: 1px;
}

.signup-submit-button {
  color: #254d67;
  background-color: white;
  margin-top: 5px;
  margin-left: 48px;
  height: 22px;
  width: 100px;
  border-radius: 10px;
  border: solid 1px #254d67;
  letter-spacing: 1px;
  transition: 0.15s ease;
}

.signup-submit-button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.signup-submit-button:active {
  opacity: 0.6;
}

p {
  text-align: center;
}

.signup-heading {
  text-align: center;
  margin-top: 0;
}

.heading-one {
  font-size: 45px;
  letter-spacing: 6px;
  color: #256760;
  margin: 0px;
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.information-container {
  color: #256760;
  letter-spacing: 2px;
  line-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 14px;
  margin: 0px 10px 0px 10px;
}

.head-bar {
  margin: 0px;
  background-color: #00BFFF;
  height: 50px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
}

.head-bar span {
  color: #2F3640;
  font-size: 24px;
  margin-left: 10px;
  align-content: center;
  font-family: cursive;
  font-weight: 500;
}

.head-bar span:hover {
  cursor: pointer;
  font-weight: 600;
}

.head-bar button {
  width: 70px;
  height: 30px;
  padding: 5px 2px 5px 2px;
  margin: 0px;
  margin-top: 10px;
  margin-right: 20px;
  background-color: white;
  color: #254d67;
  border: 1px solid #2F3640;
  border-radius: 20px;
  font-size: small;
  transition: 0.15s ease;
  opacity: 0.9;
}

.head-bar button:hover {
  opacity: 1;
  font-weight: 600;
  cursor: pointer;

}

.head-bar button::after {
  opacity: 0.6;
}

.space-one {
  flex: 1;
  display: flex;
  color: #254d67;
  font-weight: 600;
}

.space-two {
  flex: 1;
}

.space-one p {
  margin-right: 20px;
}

.space-one p:hover {
  cursor: pointer;
  color: black;
}

#close-button {
  font-style: bold;
  font-size: 24px;
  position: absolute;
  top: 10px;
  right: 20px;
  font-weight: 500;
}

#close-button:hover {
  cursor: pointer;
  font-size: 25px;
  font-weight: 600;
}

.fact-title {
  font-size: 25px;
  color: #256760;
  font-weight: 400;
  margin-bottom: 50px;
  letter-spacing: 1px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.fact-show {
  color: #256760;
  background-color: transparent;
  width: fit-content;
  position: absolute;
  display: flex;
  gap: 20px;
  left: 50%;
  transform: translate(-50%);
  align-items: center;
}

.fact-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.fact-1,
.fact-2,
.fact-3,
.fact-4,
.fact-5 {
  border: 2px solid #256760;
  border-radius: 10px;
  padding: 15px;
  font-size: larger;
  font-weight: 600;
  min-width: 237px;
  display: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.fact-1 {
  display: block;
}


.left-next-button,
.right-next-button {
  background-color: transparent;
  color: #256760;
  border: none;
  font-size: large;
  font-weight: 400;
  width: 40px;
  height: 40px;
  padding: 10px;

}

.left-next-button:hover,
.right-next-button:hover {
  cursor: pointer;
  font-weight: 700;
  background-color: #aaaaaa;
  border-radius: 10px;
}

.hee{
  color: purple;
  font-size: 15px;
