html {
  margin: 0px;
  height: 850px;
  background-image: url(k.jpg);
  background-repeat: no-repeat;
  background-size: 1366px 671px;
  padding-top: 50px;
  padding-bottom: 500px;
  background-attachment: fixed;
  scroll-behavior: smooth;
}

form {
  display: flex;
  flex-direction: column;
}

.login-container {
  position: absolute;
  top: 25%;
  left: 40%;
  background: white;
  border-radius: 4px;
  padding: 30px;
  color: #254d67;
  height: 225px;
  display: none;
  z-index: 5;
}

#new-user {
  position: absolute;
  font-size: 10px;
  bottom: 5px;
}

#new-user:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: #254d67;
}

.login-submit-button {
  color: #254d67;
  background-color: white;
  margin-top: 15px;
  margin-left: 48px;
  height: 22px;
  width: 100px;
  border-radius: 10px;
  border: solid 1px #254d67;
  letter-spacing: 1px;
  transition: 0.15s ease;
}

.login-submit-button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.login-submit-button:active {
  opacity: 0.6;
}

.login-heading {
  text-align: center;
  margin-top: 0;
}

.signup-container {
  position: absolute;
  left: 40%;
  top: 25%;
  padding: 30px;
  border-radius: 4px;
  background: white;
  color: #254d67;
  filter: drop-shadow(1px 1px 2px #254d67);
  display: none;
  z-index: 5;
}

#old-user {
  position: absolute;
  font-size: 10px;
  bottom: 5px;
  text-align: center;
}

#old-user:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: #254d67;
}

input {
  margin: 5px 0px 5px;
  border: solid 1px #254d67;
  border-radius: 5px;
  padding-left: 2px;
  font-size: 12px;
}

input::placeholder {
  color: black;
}

label {
  font-size: 12px;
  letter-spacing: 1px;
}

.signup-submit-button {
  color: #254d67;
  background-color: white;
  margin-top: 5px;
  margin-left: 48px;
  height: 22px;
  width: 100px;
  border-radius: 10px;
  border: solid 1px #254d67;
  letter-spacing: 1px;
  transition: 0.15s ease;
}

.signup-submit-button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.signup-submit-button:active {
  opacity: 0.6;
}

p {
  text-align: center;
}

.signup-heading {
  text-align: center;
  margin-top: 0;
}

.heading-one {
  font-size: 45px;
  letter-spacing: 6px;
  color: white;
  margin: 0px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.information {
  width: 800px;
  margin: 0;
}

.information-container {
  color: white;
  letter-spacing: 2px;
  line-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.head-bar {
  margin: 0px;
  background-color: white;
  height: 50px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
}

.head-bar span {
  color: #254d67;
  font-size: 24px;
  margin-left: 10px;
  align-content: center;
  font-family: cursive;
  font-weight: 500;
}

.head-bar span:hover {
  cursor: pointer;
  font-weight: 600;
}

.head-bar button {
  width: 70px;
  height: 30px;
  padding: 5px 2px 5px 2px;
  margin: 0px;
  margin-top: 10px;
  margin-right: 20px;
  background-color: white;
  color: #254d67;
  border: 1px solid #254d67;
  border-radius: 20px;
  font-size: small;
  transition: 0.15s ease;
}

.head-bar button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.head-bar button::after {
  opacity: 0.9;
}

.space-one {
  flex: 1;
  display: flex;
  color: #254d67;
  font-weight: 600;
}

.space-two {
  flex: 1;
}

.space-one p {
  margin-right: 20px;
}

.space-one p:hover {
  cursor: pointer;
  color: black;
}





#close-button {
  font-style: bold;
  font-size: 24px;
  position: absolute;
  top: 10px;
  right: 20px;
  font-weight: 500;
}

#close-button:hover {
  cursor: pointer;
  font-size: 25px;
  font-weight: 600;
}

.fact-container {
  color: white;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 600px;
  margin-left: 100px;
  position: absolute;
  right: 400px;
}

.fact-1,
.fact-2 {
  border: 2px solid white;
  border-radius: 10px;
  padding: 15px;
  font-size: larger;
  margin-left: 20px;
  font-weight: 600;
}

.fact-title {
  font-size: 25px;
  color: white;
  font-weight: 400;
}